h1{
    font-family: league spartan ;
    color: gold;
    text-align: center;
    text-decoration: teal double underline;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: uppercase;

}